@model Eventures.Web.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">Register</h1>
<hr class="hr-1 bg-info half-width" />
<form class="mx-auto half-width" method="post" asp-action="Register">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" placeholder="Username..." />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Email..." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Password..." />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr class="hr-1 bg-info" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="First Name..." />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="Last Name..." />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UniqueCitizenNumber"></label>
        <input asp-for="UniqueCitizenNumber" class="form-control" placeholder="Unique Citizen Number..." />
        <span asp-validation-for="UniqueCitizenNumber" class="text-danger"></span>
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn bg-info">Register</button>
    </div>
</form>
