@using Chushka.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav right-side">
                <li class="nav-item">
                    <a class="nav-link nav-link-white" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white" asp-controller="Product" asp-action="Create">Create Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white" asp-controller="Product" asp-action="All">All Orders</a>
                </li>
            </ul>
            <ul class="navbar-nav left-side">
                <li class="nav-item">
                    <a class="nav-link nav-link-white" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    }
    else if (User.IsInRole("User"))
    {
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav right-side">
                <li class="nav-item">
                    <a class="nav-link nav-link-white" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav left-side">
                <li class="nav-item">
                    <a class="nav-link nav-link-white" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    }
}
else
{
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link nav-link-white" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-white" asp-controller="Account" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-white" asp-controller="Account" asp-action="Register">Register</a>
            </li>
        </ul>
    </div>
}